<h1>Welcome to Movie-Ranker!</h1>




<% @sorted.each do |movie| %>
	<div class = "booyah-box col-xs-10 col-xs-offset-1">
		<h3><%= movie.title %></h3>
		<h4>Year of release:  <%= movie.year %></h4>
		<br />
		<% if movie.user.present? %>
			<h3>User: </h3><h4><%= movie.user.username %></h4>
		<% end %>
	</div>
<% end %>


