<h1>User Lists</h1>
<hr>


<% @movie_years.sort.reverse.each do |year, movies| %>
	<div class = "col-xs-10 col-xs-offset-1">
		<h2><%= year %></h2>
		<table class = "table table-condensed table-striped table-responsive">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Title</th>
					<th>Year of Release</th>
				</tr>
			</thead>
			<tbody>
				<% movies.each_with_index do |movie, i| %>
					<tr>
						<td>
							<%= (i+1) %>
						</td>
						<td>
							<%= movie.title %>
						</td>
						<td>
							<%= movie.year %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br />
	<br />
	<br />
<% end %>




