<div class = "col-xs-10 col-xs-offset-1">
	<h1>My Lists</h1>
	<hr>
</div>
<br />
<br />
<% @movie_years.sort.reverse.each do |year, movies| %>
	<div class = "col-xs-6 col-xs-offset-3">
		<h3>My Movies From <%= year %> - 'Re-order List' </h3>
		<table class = "table table-condensed table-striped table-bordered table-responsive">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				<% movies.each_with_index do |movie, i| %>
					<tr>
						<td>
							<%= (i+1) %>
						</td>
						<td>
							<%= movie.title %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	
	<br />
	<br />
	<br />
	</div>
<% end %>
	





